body
{
}

#contentRow {
    padding-top:20px;
}

#contentBox div.container-fluid.main-container {
    margin-top:10px;
}

.ms-core-pageTitle {
    margin-top: -5px;
}

#s4-titlerow {
    height:90px;
    /*background: #6d6e71;*/
    background: #222;
}

#s4-titlerow .menu-item-text, #s4-titlerow .ms-helperText, #s4-titlerow .ms-textSmall, #s4-titlerow .ms-core-pageTitle   {
    color:#fff;
    font-size:1.3em;
}

#s4-titlerow .ms-core-pageTitle, .ms-core-pageTitle a {
    color: #fff;
}

#suiteBarLeft {
    background: #00B1E0;
}

.bs-example h2{
    margin: 0;     
    color: #666;
    padding-top: 90px;
    font-size: 52px;
    font-family: "trebuchet ms", sans-serif;    
}

.bs-example .item{
    background: #333;    
    text-align: center;
    height: 200px !important;
}
.bs-example .carousel{
    margin-top: 0px;
}
.bs-example{
}

div.placeholder {
    border-radius:5px;
    background: #EAEAE1;
    padding:10px;
}

    div.placeholder h2 {
        margin-top:5px;
    }
    div.placeholder .system-announcement {
        border: 2px solid #AAB1E0;
        padding:5px;
        overflow: hidden;
    }


div.webpart-top-border {
    background-color: dodgerblue;
    height: 4px;
}

.media-body .event-date {
    font-size: .85em;
    color: #999;
    margin-top: -7px;
    display: block;
}

.media-body .media-description {
    font-size: .95em;
    color: #444;
    margin-top: 2px;
    display: block;
}

.navbar-inner {
    background: #0081e0;
    border: none;
}
a.dynamic.menu-item.ms-core-listMenu-item.ms-displayInline.ms-navedit-linkNode {
    background: #0081e0;
}

.tool-box .btn .glyphicon {
    font-size:5em;
}

.tool-box .btn {
    margin-bottom: 10px;
    margin-right:5px;
}


/*** TAKEN FROM DOCS.css */
.bs-callout {
padding: 20px;
margin: 20px 0;
border: 1px solid #eee;
border-left-width: 5px;
border-radius: 3px;
}

.bs-callout-danger {
border-left-color: #d9534f;
}


.bs-callout.system-announcement {
    height: 200px;
    box-sizing:border-box;
    margin:0px;
    overflow: hidden;
}

/* search box text*/
input#ctl00_PlaceHolderSearchArea_ctl00_csr_sbox {
    font-size: 0.8em;
}

.ms-webpart-zone h3 {
    color: rgb(27, 161, 226);
}

.highlights-webpart {
    padding:5px;
    padding-left:10px;
    padding-right:10px;
}

.snapshot-webpart {
    background-image: url(/_layouts/15/challenge/img/icicles-small.jpg);
    background-size:cover;
    background-repeat:no-repeat;
    background-position-y: -65px;
    position:relative;
    height:200px;
}

.snapshot-caption {
    box-sizing:border-box;
    position:absolute;
    bottom:0;
    background: #333;
    background:rgba(0,0,0,0.5);
    padding:10px;
    width:100%;
    color: #fff;
}

#twitter-widget-0 {
    width: 100% !important;
}

ul.find-it-fast {
    list-style: none;
    margin-left: 0px;
    padding-left: 15px;
    font-size: 1.3em;
}

    ul.find-it-fast li {
        margin-left:0px;
    }


div.footer {
    background: #333;
    color: #FAFAFA;
    padding-top:50px;
    padding-bottom:50px;
}

    div.footer h1, div.footer h1 a {
        display:inline;
        font-size:1.4em;
        color: #FAFAFA;
        padding-right:20px;
    }

ul.s4-breadcrumb a.s4-breadcrumbCurrentNode, ul.s4-breadcrumb a.s4-breadcrumbCurrentNode:visited {
    color: #fff;
}

